# BuyIndiaX Nagios Monitoring

define host {
    use                     linux-server
    host_name               buyindiax-app
    alias                   BuyIndiaX App Server
    address                 APP_SERVER_IP
    max_check_attempts      5
    check_period            24x7
}

define service {
    use                     generic-service
    host_name               buyindiax-app
    service_description     Backend_API
    check_command           check_http!-p 5000 -u /api/health
}

define service {
    use                     generic-service
    host_name               buyindiax-app
    service_description     Frontend
    check_command           check_http!-p 3000
}

define service {
    use                     generic-service
    host_name               buyindiax-app
    service_description     MongoDB
    check_command           check_tcp!-p 27017
}

define service {
    use                     generic-service
    host_name               buyindiax-app
    service_description     SSH
    check_command           check_ssh
}
